#tutorial {
    width: 50%;
  }
  
  #split-host {
    width: 50%;
  }
a#next-tutorial {
    display: none !important;
}
#finished #finished-content {
    position: absolute;
    margin-bottom: 10px;
    width: 100%;
    display: none;
}
